*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: pink;
}
h1, h2, h3, h4, h5, h6, p{
    color: white;
    padding: 0;
    margin: 0;
}


/* Navbar */
.navbar{
    margin: 0;
    background-color: white;
    padding: 25px 0;
}
.navbar-default .navbar-nav>li>a{
    color: black;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-toggle{
    float: left;
    margin-left: 30px;
    border: none;
}

/* Hero */
.hero{
    background-image: url(../img/taxi.jpg);
    background-position: bottom;
    background-size: cover;
    height: 100vh;
}
.col-registro{
    padding: 0;
}
.registrate{
    background-color: #f7b617; /*amarillo*/
    margin: 20vh 0;
    padding: 30px;
}

.registrate h4{
    display: inline-block;
    padding: 5px;
    margin: 15px 0;
}
.registrate h4>img{
    display: inline-block;
    width: 126px;
}
p#reg{
    margin-bottom: 20px;
}
.div-registro{
    display: flex;
    flex-direction: row;
}
.div-registro p{
    margin: 0 30px;
}

.div-registro input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 30%;
}
.registrate button{
    border: none;
    padding: 5px 20px;
    margin: 20px 0 0 0;
    background-color: white;
    border-radius: 4px;
    font-weight: bold;
}
/* Información App */
.informacion-app{
    background-color: #f7b617; /*amarillo*/
    
}
.informacion-caja{
    border: 1px solid white;
    margin: 5vh 0;
}
.informacion-app p{
    font-size: 18px;
    padding: 10px 0;
}
.informacion-app img{
    width: 70%;
    margin: 0 auto;
    padding: 5vh;

}
.informacion-texto{
    width: 70%;
    padding: 10vh 0;
}
.informacion h1, .informacion h3{
    text-align: center;
    padding: 5vh 0;
}

@media (max-width: 992px) { 
    .informacion-caja{
        margin: 20px;
    }
}


/* Conduce */
.conduce{
    background-image: url(../img/conduce.jpg);
    background-position: center;
    background-size: cover;
    height: 55vh;
    padding: 0;
}
.col-conduce{
    background-color: rgba(0,0,0, 0.5);
    padding: 12vh 35px;
    height: 100%;
}
.col-conduce h3{
    margin: 10px 0;
}
.btn-conductor {
    background-color: #f7b617; /*amarillo*/
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 15px 0;
    font-weight: bold;
    font-size: 16px;
}

/* Tarifa */
.tarifa{
    background-color: #f7b617; /*amarillo*/
}
.tarifa-calcular{
    padding: 5vh 0;
    display: flex;
    justify-content: center;
}
.tarifa-posicion{
    width: 80%;
}

.origen-destino{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
::-webkit-input-placeholder { 
  color: white;
}
.origen-destino input[type=text]{
    width: 90%;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    margin: 0 20px;
    padding: 5px;
}

.origen-destino input:focus{
    outline: none;
}
.tarifa-calcular button{
    background-color: white;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    padding: 10px 25px;   
}

.tarifa-clacular button:hover{
    color: white;
    background-color: #727171;
}
.btn-tarifa {
    text-align: center;
}
.tarifa-calcular img{
    width: 20px;
    height: 20px;
}

#map{ 
      width: 100%;
      height: 55vh;
      border: 1px solid white;
    }

.borde{
    padding: 8px;
    border: 1px solid white;
    width: 75%;
    margin: 30px;
}

/* Footer */
.footer-fluid{
    background-color: #2b2b2b; /*gris oscuro*/
}
footer{
    background-color: #2b2b2b; /*gris oscuro*/
}
footer a, footer i{
    color: white;
}
footer ul{
    list-style:none;
}
footer ul>li{
    font-size: 14px;
    padding: 5px;

}
.footer-logo{
    padding: 30px;
    border-bottom: 1px solid white;
}
.link-redes{
    padding: 20px;
    border-bottom: 1px solid white;
    display: table;
    width: 102%;
}
.footer-marca{
    padding: 20px;
    text-align: center;
}

.link-redes [class*="col-"]{
    float: none;
    display: table-cell;
    vertical-align: bottom;
}
.footer-tienda img{
    width: 50%;
    margin-top: 20px;
}
@media (max-width: 992px) { 
    .link-redes{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .link-redes [class*="col-"]{
        display: inline;
    }
    .footer-redes{
        order: 4;
        height: 10px;
        text-align: right;
    }
    .footer-tienda{
        padding: 0;
        padding-top: 10px;
    }
    .footer-tienda img{
    width: 100%;
    margin-top: 20px;
}
}
